# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.userosscache

# NuGet
packages/
*.nupkg

# Rider
.idea/

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store

# Migrations
**/Migrations/